
body {
    line-height: 1;
    color: black;
    background: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

#navbarSupportedContent > ul.navbar-nav.ml-auto{
    color: #000 !important;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 1.5;
}

.dashImg {
    border-radius: 5px;
}

.nav-item{
    margin-top: 1px;
}

#navbarSupportedContent > ul.navbar-nav.ml-auto > li.nav-item.dropdown{
    margin-top: 0px;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: middle;
}

.mainContainer{
    margin-bottom: 50px !important;
}

#myNavbar{
    margin-bottom: 2%;
}

.DisplayNone{
    display: none;
}

#single-kv {
    width: 100vw !important;
}

@media (max-width: 768px){

    .kv-slide, #single-kv {
        height: 217px !important;
        background-size: auto 217px;
    }

}

#single-intro {
    background: #fff;
    padding: 50px 0 5px;
}

#single-intro-wrap {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

#single-intro-wrap h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    font-size: 44px;
    color: #222;
    line-height: 130%;
    margin-bottom: 22px;
    text-align: center;
}

#single-intro-wrap p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    line-height: 210%;
    color: #333;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: justify;
}

@media screen and (max-width: 768px){

    #single-intro-wrap .comment-time, #single-social-gore {
        text-align: left;
        padding-left: 20px;
    }

}

.comment-time {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    text-transform: uppercase;
    font-size: 12px;
    color: #656565;
    margin-bottom: 6px;
}

.excerpt-details a, .excerpt-details a:hover, .excerpt-details a:active, .excerpt-details a:visited {
    color: #656565 !important;
}

#single-body {
    background: #fff;
    padding: 20px 0 40px;
}

#single-content {
    max-width: 660px;
    margin: 0 auto;
}

#single-content p {
    color: #444;
    font-family: Arial;
    font-size: 18px;
    line-height: 205%;
    margin-bottom: 23px;
}

.postCover{
    width: 30%; 
    float:left;
    margin-right: 20px;
    margin-bottom: 10px; 
    margin-top: 10px; 
    border-radius: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: white;
    padding: 10px 10px 15px 10px;
}

.postCoverIndex{
	height: 250px !important;
    width: 100%;
    box-shadow: none; 
}

.hrStyle{
    width: 70%;
    text-align:left;
    margin-left:0;
}

.timestamp{
    position: absolute;
    bottom: 15px;
    right: 10px; 
    text-decoration: underline;
    text-decoration-color: silver;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: silver !important;
    background-color: whitesmoke !important;
    text-align: center;
}

/*Credits for animation goes to: https://codepen.io/matchboxhero/pen/RLebOY?editors=1100 */

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	font-family: 'Arima Madurai', cursive;
	color: black;
	font-size: 4rem;
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	position: relative;
	z-index: 3;
}

.containerBird {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	// min-height: 100vh;
    height: 100% !important;
	background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -333;
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	&--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

}

.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	&--one {
		animation-duration: 15s;
		animation-delay: 0;
	}
	
	&--two {
		animation-duration: 16s;
		animation-delay: 1s;
	}
	
	&--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
	&--four {
		animation-duration: 16s;
		animation-delay: 10.25s;
	}
	
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}
/*end credits*/

/*Special styling for landing page.*/
.flyingLink{
    text-decoration: none !important;
    font-size: 3em;
    color: silver;
}

.centerName{
    text-decoration: none !important;
}

.centerName>h1,.flyingLink{
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}

.flyingLink:hover,.centerName>h1:hover{
    color: whitesmoke !important;
}
/*end of special styling*/

.nextPrev{
    float:right;
}

#maine > ul.pagination{
	justify-content: center;
}